img {
    width: 800px;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
}

body {
    background-color: #FCF8EC;
    color: #4baecf;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


  /*----------------NAVIGATION BAR--------------------*/

  /* Add a white background color to the top navigation*/
.topnav {
    background-color: #FCF8EC;
    overflow: hidden;
}

/* style links inside the navigation bar */
.topnav a {
    float: right;
    color: #4baecf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {   
    background: linear-gradient(#4baecf, #FCF8EC);
    color: #222831;
}

/* ---------------  ---------------- */
